
.container{
    display: grid;
    grid-template-areas: "nav nav"
                         "header header"
                         "content content"
                         "section section"
                         "footer footer";
    height: 100vh;
    grid-gap: 13px;
    border: solid white 3px;
    grid-template-rows: 50px repeat(3,1fr) 70px;
    
}
.nav{
    
    grid-area: nav;
}
.nav .navbar{
    float: right;
    list-style-type: none;
    overflow: hidden;
    
}
.navbar li{
    display: inline;
    padding: 5px;
    margin: 5px;
    
}
.navbar>li a{
    color: black;
    text-decoration: none;
}
.navbar li>a:hover{
    color: orangered
}
.head{
    display: flex;
    flex-wrap: wrap;
    grid-area: header;
    justify-content: space-around;
}
.head .headContent{
    
    width: 300px;
}
.btnCv{
    background-color: #FF6464;
    border-radius: 2px;
    border: none;
    color: white;
}
.headImg .image{
    background-color: chocolate;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 30px;
}
.posts{
    display: flex;
    background-color: #EDF7FA;
    grid-area: content;
    justify-content: space-around;
}
.post1, .post2{
    background-color: white;
    width: 415px;
    height: 295px;
}
.works{
    background-color: darkorange;
    grid-area: section;
}
.footer{
    background-color:  #EDF7FA;
    grid-area: footer;
}