*{
    font-family: 'Heebo', sans-serif;
}
.container{
    display: grid;
    grid-template-areas: "nav nav"
                         "header header"
                         "content content"
                         "section section"
                         "footer footer";
    height: 100vh;
    grid-gap: 15px;
    border: solid white 3px;
    grid-template-rows: 50px repeat(3,1fr) 70px;
}

.nav{
    position: sticky;
    grid-area: nav;
    top: 0;
    border-bottom: solid 1px #c2c7c9;

    background-color: #e7eef0;
    opacity: 0.7;
}
.nav .navbar{
    float: right;
    list-style-type: none;
    overflow: hidden;
    
}
.navbar li{
    display: inline;
    padding: 5px;
    margin: 5px;
}
.navbar>li a{
    color: black;
    text-decoration: none;
    
}
.navbar li>a:hover{
    color: orangered
}
.head{
    display: flex;
    flex-wrap: wrap;
    grid-area: header;
    justify-content: space-around;
}
.head .headContent{
    
    width: 300px;
}
.btnCv{
    background-color:#FF6464;
    border-radius: 2px;
    border: none;
    color: white;
    width: 208px;
    height: 47px;
    border-radius: 2px;
}
.headImg .image{
    background-color: chocolate;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 30px;
}
.posts{
    display: grid;
    background-color: #EDF7FA;
    grid-area: content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
}

.post1, .post2{
    background-color: white;
    width: 415px;
    height: 295px; 
}

.works{
    background-color: darkorange;
    grid-area: section;
}
.footer{
    background-color: #EDF7FA;
    grid-area: footer;
    border-radius: 3px;
}