:root{
    --theme-color: #EDF7FA;
}
*{
    font-family: 'Heebo', sans-serif;
}
.container{
    display: grid;
    grid-template-areas: "nav nav"
                         "head headphoto"
                         "post post"
                         "skill skill"
                         "content2 content2"
                         "content3 content3"
                         "footer footer";                   

    grid-gap: 25px;
   
    
}

.nav{
    position: sticky;
    z-index: 2;
    grid-area: nav;
    top: 0;
    border-bottom: solid 1px rgb(44, 44, 85);
    border-radius: 5px;
    box-shadow: black;
    background-color: #e7eef0;
    opacity: 0.7;
}
.nav .navbar{
    float: right;
    list-style-type: none;
    overflow: hidden;
    
}
.navbar li{
    display: inline;
    padding: 5px;
    margin: 5px;
}
.navbar>li a{
    text-decoration: none;
    
}
.navbar li>a:hover{
    color: orangered
}

 .headContent{
    grid-area: head;
    justify-self: center;
    align-self: center;
    width: 300px;
}
.btnCv{
    background-color:#FF6464;
    border: none;
    color: white;
    width: 208px;
    height: 47px;
    border-radius: 5px;
}

.headimg {
    grid-area: headphoto;
    justify-self: center;
    align-self: center;
    position: relative;
    z-index: 1;
    border: solid 3px black;
    width: 135px;
    height: 135px;
    border-radius: 150px;
    box-shadow:20px 20px 10px gray; 
    object-fit: contain;
}

.posts{
    position: relative;
    z-index: 0;
    grid-area: post;
    display: grid;
    grid-gap: 30px;
    border-radius: 15px;
    padding-bottom: 25px;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--theme-color);
    
}
.posts .post1{
    justify-self: end;
    align-self: center;
   
  
}

.post1 :nth-child(2){
    width: 350px;
    height: 230px;
    border-radius: 17px;
    background-color: white;
    box-shadow:20px 15px 40px rgb(190, 190, 190);  
}

.posts .post2{
    justify-self: start;
    align-self: center;
  
    
}
.post2 :nth-child(1){
    margin-left: 145px;
}
.post2 :nth-child(2){
    width: 350px;
    height: 230px;
    border-radius: 17px;
    background-color: white;
    box-shadow:20px 15px 40px rgb(190, 190, 190);
}

.skills{
    grid-area: skill;
    display: grid;
    margin-bottom: 20px;
    
}
.skills :nth-child(1){
    grid-column: 1/ span 2;
    justify-self: center;
}

.skills img{
    width: 40px;
    height: 40px;
}
.langs h4{
    text-align: center;
}

.langs ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.framework h4{
    text-align: center;
}

.framework ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}

.works{
    grid-area: content2;
    justify-self: center;
    padding: 30px;
    display: grid;
    justify-items: center;
    grid-gap: 20px;
    background-color: var(--theme-color);
    box-shadow:  20px 20px 50px 10px rgb(218, 211, 198) inset;
    border-radius: 10px;
    padding-bottom: 30px;
    
}
.works h4{
    grid-column: 1/ span 3;
    justify-self: center;
    background-color: var(--theme-color);
    
}
.works div{
    position: relative;
    z-index: 0;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}
.works .column1{
    justify-self: end;
}
.works .column3{
    justify-self: start;
}
.contact{
    grid-area: content3;
    padding-left: 95px;
   
}

.contact div{
    display: flex;
    justify-content: flex-start;
}

.contact .labels{
    font-weight:600;
    padding-right: 20px;
}
.footer{
    grid-area: footer;
    text-align: center;
}
.footer img{
    width: 35px;
    height: 35px;
}
